.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;  
  min-height: 100px;
  margin: auto;
  background-color: white;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 92.5px 56px 92.5px 49px;
}

.header__menu {  
  font-size: 18.2px;
  margin-right: 40px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  flex-wrap: nowrap;
  width: 395px;
}

.header__links-list-item {
  padding-left: 1px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link,
.footer__menu-link {
  text-decoration: none;
  display: inline-block;
  border-bottom: 0.5px solid rgb(0, 0, 0);  
}

.header__link_active {
  border-bottom: 0;
}

.header__logo {
  display: block;
  width: 136px;
}

.address {
  font-style: inherit;
}

.header__address {
  width: 232px;
  justify-self: end;
  font-style: inherit;
}

.address__item {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.text-link {
  text-decoration: underline;
}

.address__address-text {
  font-size: 18px;
  line-height: 1.35;
}

.cover {
  padding: 165px 50px 48px;
  min-height: 757px;
  margin-bottom: 179px;
  position: relative;
  color: #FFFFFF;
  font-size: 67px;
  line-height: 121px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.capitalized {
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /.6);
}

.cover__title {  
  z-index: 1;
  letter-spacing: 30px;
  font-weight: 700;
}

.cover__bet-line {
  margin-left: 27.5px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 51px;
  font-size: 22px;
  font-weight: normal;
}

.cover__bet-line-title {
  font-weight: inherit;
  font-size: 21.5px;
  word-spacing: 20.3px;
}

.cover__bet-line_button {
  padding-left: 28.5px;
  padding-right: 32px;  
  border: 0.5px solid #fff;
  text-decoration: none;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.special-alignment-middle {
  margin-top: 6px;
}

.text-right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}



.letter-spacing-none {
  letter-spacing: 0;
}



.lots {
  padding: 0 24px 146px;
  background-color: #fff;
  margin-bottom: 35px;
}

.lots__header {
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__header_font,
.about__header_font {
  font-weight: bold;
  font-size: 40px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  min-height: 563px;
  z-index: 0;
  list-style: none;  
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 48px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.card__title {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  position: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.card__text {
  font-size: 20px;
  color: #fff;
  position: inherit;
}

.lots__extended-letter-spacing {
  letter-spacing: 2.6px;
}

.lots__look-more-link {
  font-size: 20px;
  list-style-type: none;  
  border-bottom: 0.5px solid rgb(0, 0, 0);
  margin-left: 40px;
}

.about {
  margin-bottom: 180px;
  display: grid;
  grid-template-columns: 381px 1fr;
  grid-row-gap: 9px;
  grid-template-areas:
  "logo header"
  ". text";
}

.about__logo {
  grid-area: logo;
  justify-self: center;
}

.about__logo-circle {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;

}

.about__logo-label {
  display: block;
  margin: auto;
  padding-top: 8px;
  width: 148px;
}

.about__header {
  grid-area: header;
  align-self: center;
  margin-top: 14px;
}

.about__text {
  grid-area: text;
  padding-right: 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  gap: 24px;
  word-spacing: 0.7px;
}

.footer {
  padding: 0 51px;
  display: grid;
  grid-template-columns: 230px auto 129px;
  justify-content: space-between;
}

.footer__menu {
  font-size: 18.2px;
  margin-right: 100px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  list-style-type: none;
}

.footer__menu-list-item {
  line-height: 20px;
}

.footer__menu-link_active {
  line-height: 22px;
  border-bottom: 0;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  gap: 48px;
}

.about__logo-label {
  display: block;
  margin: auto;
  padding-top: 8px;
  width: 148px;
}

.footer__social-link {
  display: block;
  width: 48px;
}

.footer__social-icon {
  width: 100%;
}